<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath*:edu/fjnu/hotelsys/config/*.xml</param-value>
  </context-param>
  <filter>
		<filter-name>struts2</filter-name>
		<filter-class>
			org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter
		</filter-class>
  </filter>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>edu.fjnu.hotelsys.utils.CharacterEncodingFilter</filter-class>
  </filter>
  <filter>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>edu.fjnu.hotelsys.utils.AuthenticationFilter</filter-class>
    <init-param>
      <param-name>validate-objects</param-name>
      <param-value>hotelMgr,roomMgr</param-value>
    </init-param>
  </filter>
  
  <!-- 当应用程序启动的时候，该listener会自动启动 -->
  <listener>
       <listener-class>
          org.springframework.web.context.ContextLoaderListener
       </listener-class>
  </listener>
    
  <servlet>
    <servlet-name>ServletConfigurator</servlet-name>
    <servlet-class>
			org.logicalcobwebs.proxool.configuration.ServletConfigurator</servlet-class>
    <init-param>
      <param-name>xmlFile</param-name>
      <param-value>WEB-INF/proxool.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>HotelMgrServlet</servlet-name>
    <servlet-class>edu.fjnu.hotelsys.controller.HotelMgrServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CPTest</servlet-name>
    <servlet-class>edu.fjnu.hotelsys.controller.CPTest</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RoomMgrServlet</servlet-name>
    <servlet-class>edu.fjnu.hotelsys.controller.RoomMgrServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SecurityMgrServlet</servlet-name>
    <servlet-class>edu.fjnu.hotelsys.controller.SecurityMgrServlet</servlet-class>
  </servlet>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>  
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet-mapping>
    <servlet-name>HotelMgrServlet</servlet-name>
    <url-pattern>/hotelMgr</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CPTest</servlet-name>
    <url-pattern>/cptest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RoomMgrServlet</servlet-name>
    <url-pattern>/roomMgr</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SecurityMgrServlet</servlet-name>
    <url-pattern>/securityMgr</url-pattern>
  </servlet-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>jsp-pages</web-resource-name>
      <url-pattern>/jsps/*</url-pattern>
    </web-resource-collection>
    <auth-constraint/>
  </security-constraint>
  <login-config>
    <auth-method>BASIC</auth-method>
  </login-config>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>